In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
price_old_df = pd.read_csv('../../data/processed/preprocessed_features.csv', parse_dates=['date'], index_col='date')
price_old_df = price_old_df.asfreq('H')
price_old_df = price_old_df.sort_values(by='date')
price_old_df = price_old_df.rename(columns={"calgary": "calgary_load"})
price_old_df = price_old_df.rename(columns={"central": "central_load"})
price_old_df = price_old_df.rename(columns={"edmonton": "edmonton_load"})
price_old_df = price_old_df.rename(columns={"northeast": "northeast_load"})
price_old_df = price_old_df.rename(columns={"northwest": "northwest_load"})
price_old_df = price_old_df.rename(columns={"south": "south_load"})

In [3]:
columns_to_multiply = []

for column in price_old_df.columns:
    if column.endswith("_reserve_margin"):
        price_old_df[column] = price_old_df[column] * 100
        columns_to_multiply.append(column)

for column in price_old_df.columns:
    if column.endswith("_supply_mix"):
        price_old_df[column] = price_old_df[column] * 100
        columns_to_multiply.append(column)

for column in price_old_df.columns:
    if column.endswith("_ratio"):
        price_old_df[column] = price_old_df[column] * 100
        columns_to_multiply.append(column)

price_old_df["relative_gas_reserve"] = price_old_df["relative_gas_reserve"] * 100
price_old_df["load_on_gas_reserve"] = price_old_df["load_on_gas_reserve"] * 100
price_old_df["gas_cost"] = price_old_df["gas_cost"] / 100

In [4]:
price_old_df.isna().sum().sum()

0

In [5]:
y = price_old_df[['price']]
y = y.asfreq("H")
y.isna().sum().sum(), y[y['price'].isna()].index

(0, DatetimeIndex([], dtype='datetime64[ns]', name='date', freq='H'))

In [6]:
y.head(2)
y.shape

(21121, 1)

In [7]:
X = price_old_df.drop(columns=['price'])
X = X.asfreq("H")
X.isna().sum().sum()

0

In [8]:
window = 24
X['rolling_mean'] = y.rolling(window).mean()
X['rolling_std'] = y.rolling(window).std()
X['rolling_min'] = y.rolling(window).min()
X['rolling_max'] = y.rolling(window).max()
X['rolling_median'] = y.rolling(window).median()
X['exp_moving_avg'] = y.ewm(span=24).mean()

In [9]:
X.isna().sum().sum()

115

In [10]:
# Filter y to match X
X.dropna(inplace=True)
y = y.loc[X.index]

In [11]:
X.isna().sum().sum(), y.isna().sum().sum()

(0, 0)

In [12]:
X['season'] = X['season'].replace({'WINTER': 1, 'SUMMER': 0})
X['peak_or_not'] = X['peak_or_not'].replace({'ON PEAK': 1, 'OFF PEAK': 0})

X['weekly_profile'] = 0
X.loc[((X.index.dayofweek == 1) | (X.index.dayofweek == 2)) & (X['peak_or_not'] == 1), 'weekly_profile'] = 6
X.loc[((X.index.dayofweek == 0) | (X.index.dayofweek == 3)) & (X['peak_or_not'] == 1), 'weekly_profile'] = 5
X.loc[((X.index.dayofweek == 4) | (X.index.dayofweek == 5) | (X.index.dayofweek == 6)) & (X['peak_or_not'] == 1), 'weekly_profile'] = 4
X.loc[((X.index.dayofweek == 1) | (X.index.dayofweek == 2)) & (X['peak_or_not'] == 0), 'weekly_profile'] = 3
X.loc[((X.index.dayofweek == 0) | (X.index.dayofweek == 3)) & (X['peak_or_not'] == 0), 'weekly_profile'] = 2
X.loc[((X.index.dayofweek == 4) | (X.index.dayofweek == 5) | (X.index.dayofweek == 6)) & (X['peak_or_not'] == 0), 'weekly_profile'] = 1

In [13]:
import requests

url = 'https://api.aeso.ca/report/v1.1/price/systemMarginalPrice'
params = {
    'startDate': '2021-01-01',
    'endDate': '2021-06-31'
}
headers = {
    'accept': 'application/json',
    'X-API-Key': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ6MHo4MnIiLCJpYXQiOjE2ODM1NzQyMTh9.Gbod9kjeDwP4SOJibSFof63X7GGZxbZdBmBVrgE409w'
}

response = requests.get(url, params=params, headers=headers)

# Access the response data
data_5 = response.json()
data_5 = pd.DataFrame(data_5['return']['System Marginal Price Report'])

data_5['begin_datetime_mpt'] = pd.to_datetime(data_5['begin_datetime_mpt'])

data_5 = data_5.set_index('begin_datetime_mpt')

data_5 = data_5.drop(columns=['begin_datetime_utc', 'end_datetime_utc', 'end_datetime_mpt'])

data_5 = data_5.sort_index()

data_5['system_marginal_price'] = pd.to_numeric(data_5['system_marginal_price'], errors='coerce')

data_5['volume'] = pd.to_numeric(data_5['volume'], errors='coerce')

In [14]:
import requests

url = 'https://api.aeso.ca/report/v1.1/price/systemMarginalPrice'
params = {
    'startDate': '2021-07-01',
    'endDate': '2021-12-25'
}
headers = {
    'accept': 'application/json',
    'X-API-Key': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ6MHo4MnIiLCJpYXQiOjE2ODM1NzQyMTh9.Gbod9kjeDwP4SOJibSFof63X7GGZxbZdBmBVrgE409w'
}

response = requests.get(url, params=params, headers=headers)

# Access the response data
data_6 = response.json()
data_6 = pd.DataFrame(data_6['return']['System Marginal Price Report'])

data_6['begin_datetime_mpt'] = pd.to_datetime(data_6['begin_datetime_mpt'])

data_6 = data_6.set_index('begin_datetime_mpt')

data_6 = data_6.drop(columns=['begin_datetime_utc', 'end_datetime_utc', 'end_datetime_mpt'])

data_6 = data_6.sort_index()

data_6['system_marginal_price'] = pd.to_numeric(data_6['system_marginal_price'], errors='coerce')
data_6['volume'] = pd.to_numeric(data_6['volume'], errors='coerce')

In [15]:
import requests

url = 'https://api.aeso.ca/report/v1.1/price/systemMarginalPrice'
params = {
    'startDate': '2021-12-26',
    'endDate': '2021-12-31'
}
headers = {
    'accept': 'application/json',
    'X-API-Key': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ6MHo4MnIiLCJpYXQiOjE2ODM1NzQyMTh9.Gbod9kjeDwP4SOJibSFof63X7GGZxbZdBmBVrgE409w'
}

response = requests.get(url, params=params, headers=headers)

# Access the response data
data_7 = response.json()
data_7 = pd.DataFrame(data_7['return']['System Marginal Price Report'])

data_7['begin_datetime_mpt'] = pd.to_datetime(data_7['begin_datetime_mpt'])

data_7 = data_7.set_index('begin_datetime_mpt')

data_7 = data_7.drop(columns=['begin_datetime_utc', 'end_datetime_utc', 'end_datetime_mpt'])

data_7 = data_7.sort_index()

data_7['system_marginal_price'] = pd.to_numeric(data_7['system_marginal_price'], errors='coerce')
data_7['volume'] = pd.to_numeric(data_7['volume'], errors='coerce')

In [16]:
import requests

url = 'https://api.aeso.ca/report/v1.1/price/systemMarginalPrice'
params = {
    'startDate': '2022-01-01',
    'endDate': '2022-06-31'
}
headers = {
    'accept': 'application/json',
    'X-API-Key': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ6MHo4MnIiLCJpYXQiOjE2ODM1NzQyMTh9.Gbod9kjeDwP4SOJibSFof63X7GGZxbZdBmBVrgE409w'
}

response = requests.get(url, params=params, headers=headers)

# Access the response data
data_1 = response.json()
data_1 = pd.DataFrame(data_1['return']['System Marginal Price Report'])

data_1['begin_datetime_mpt'] = pd.to_datetime(data_1['begin_datetime_mpt'])

data_1 = data_1.set_index('begin_datetime_mpt')

data_1 = data_1.drop(columns=['begin_datetime_utc', 'end_datetime_utc', 'end_datetime_mpt'])

data_1 = data_1.sort_index()

data_1['system_marginal_price'] = pd.to_numeric(data_1['system_marginal_price'], errors='coerce')

data_1['volume'] = pd.to_numeric(data_1['volume'], errors='coerce')

In [17]:
import requests

url = 'https://api.aeso.ca/report/v1.1/price/systemMarginalPrice'
params = {
    'startDate': '2022-07-01',
    'endDate': '2022-12-25'
}
headers = {
    'accept': 'application/json',
    'X-API-Key': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ6MHo4MnIiLCJpYXQiOjE2ODM1NzQyMTh9.Gbod9kjeDwP4SOJibSFof63X7GGZxbZdBmBVrgE409w'
}

response = requests.get(url, params=params, headers=headers)

# Access the response data
data_2 = response.json()
data_2 = pd.DataFrame(data_2['return']['System Marginal Price Report'])

data_2['begin_datetime_mpt'] = pd.to_datetime(data_2['begin_datetime_mpt'])

data_2 = data_2.set_index('begin_datetime_mpt')

data_2 = data_2.drop(columns=['begin_datetime_utc', 'end_datetime_utc', 'end_datetime_mpt'])

data_2 = data_2.sort_index()

data_2['system_marginal_price'] = pd.to_numeric(data_2['system_marginal_price'], errors='coerce')
data_2['volume'] = pd.to_numeric(data_2['volume'], errors='coerce')

In [18]:
import requests

url = 'https://api.aeso.ca/report/v1.1/price/systemMarginalPrice'
params = {
    'startDate': '2022-12-26',
    'endDate': '2023-05-31'
}
headers = {
    'accept': 'application/json',
    'X-API-Key': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ6MHo4MnIiLCJpYXQiOjE2ODM1NzQyMTh9.Gbod9kjeDwP4SOJibSFof63X7GGZxbZdBmBVrgE409w'
}

response = requests.get(url, params=params, headers=headers)

# Access the response data
data_3 = response.json()
data_3 = pd.DataFrame(data_3['return']['System Marginal Price Report'])

data_3['begin_datetime_mpt'] = pd.to_datetime(data_3['begin_datetime_mpt'])

data_3 = data_3.set_index('begin_datetime_mpt')

data_3 = data_3.drop(columns=['begin_datetime_utc', 'end_datetime_utc', 'end_datetime_mpt'])

data_3 = data_3.sort_index()

data_3['system_marginal_price'] = pd.to_numeric(data_3['system_marginal_price'], errors='coerce')
data_3['volume'] = pd.to_numeric(data_3['volume'], errors='coerce')

In [19]:
average_1_df = data_1[['volume', 'system_marginal_price']].resample('H').mean()
average_1_df.columns = ['volume_avg', 'system_marginal_price_avg']
average_1_df.tail()

                     volume_avg  system_marginal_price_avg
begin_datetime_mpt
2022-06-30 19:00:00       38.80                   381.6580
2022-06-30 20:00:00       33.50                   308.1350
2022-06-30 21:00:00       17.60                   202.4420
2022-06-30 22:00:00       49.25                   108.6775
2022-06-30 23:00:00       49.50                    93.1425

In [20]:
average_2_df = data_2[['volume', 'system_marginal_price']].resample('H').mean()
average_2_df.columns = ['volume_avg', 'system_marginal_price_avg']
average_2_df.head()

                     volume_avg  system_marginal_price_avg
begin_datetime_mpt
2022-07-01 00:00:00        48.4                  83.338000
2022-07-01 01:00:00        55.5                  70.637500
2022-07-01 02:00:00        34.5                  60.033333
2022-07-01 03:00:00        50.0                  57.445000
2022-07-01 04:00:00        50.0                  58.940000

In [21]:
average_3_df = data_3[['volume', 'system_marginal_price']].resample('H').mean()
average_3_df.columns = ['volume_avg', 'system_marginal_price_avg']
average_3_df.head()

                     volume_avg  system_marginal_price_avg
begin_datetime_mpt
2022-12-26 00:00:00   46.500000                  90.375000
2022-12-26 01:00:00   43.333333                  80.523333
2022-12-26 02:00:00   62.666667                  69.920000
2022-12-26 03:00:00   56.000000                  67.623333
2022-12-26 04:00:00   54.750000                  73.142500

In [22]:
average_5_df = data_5[['volume', 'system_marginal_price']].resample('H').mean()
average_5_df.columns = ['volume_avg', 'system_marginal_price_avg']
average_5_df.head()

                     volume_avg  system_marginal_price_avg
begin_datetime_mpt
2021-01-01 00:00:00        53.4                     30.544
2021-01-01 01:00:00        57.0                     27.480
2021-01-01 02:00:00        45.4                     28.562
2021-01-01 03:00:00        54.6                     32.832
2021-01-01 04:00:00        50.0                     35.360

In [23]:
average_6_df = data_6[['volume', 'system_marginal_price']].resample('H').mean()
average_6_df.columns = ['volume_avg', 'system_marginal_price_avg']
average_6_df.head()

                     volume_avg  system_marginal_price_avg
begin_datetime_mpt
2021-07-01 00:00:00   65.200000                     52.818
2021-07-01 01:00:00   52.200000                     39.734
2021-07-01 02:00:00   50.000000                     31.876
2021-07-01 03:00:00   50.000000                     31.920
2021-07-01 04:00:00   37.666667                     34.440

In [24]:
average_7_df = data_7[['volume', 'system_marginal_price']].resample('H').mean()
average_7_df.columns = ['volume_avg', 'system_marginal_price_avg']
average_7_df.head()

                     volume_avg  system_marginal_price_avg
begin_datetime_mpt
2021-12-26 00:00:00        50.0                  72.756667
2021-12-26 01:00:00        50.0                  73.010000
2021-12-26 02:00:00        55.0                  68.000000
2021-12-26 03:00:00        45.0                  69.755000
2021-12-26 04:00:00        50.0                  71.220000

In [25]:
sum_1_df = data_1[['volume', 'system_marginal_price']].resample('H').sum()
sum_1_df.columns = ['volume_sum', 'system_marginal_price_sum']
sum_1_df.tail()

                     volume_sum  system_marginal_price_sum
begin_datetime_mpt
2022-06-30 19:00:00         194                    1908.29
2022-06-30 20:00:00          67                     616.27
2022-06-30 21:00:00          88                    1012.21
2022-06-30 22:00:00         197                     434.71
2022-06-30 23:00:00         198                     372.57

In [26]:
sum_2_df = data_2[['volume', 'system_marginal_price']].resample('H').sum()
sum_2_df.columns = ['volume_sum', 'system_marginal_price_sum']
sum_2_df.head()

                     volume_sum  system_marginal_price_sum
begin_datetime_mpt
2022-07-01 00:00:00         242                     416.69
2022-07-01 01:00:00         222                     282.55
2022-07-01 02:00:00         207                     360.20
2022-07-01 03:00:00         100                     114.89
2022-07-01 04:00:00          50                      58.94

In [27]:
sum_3_df = data_3[['volume', 'system_marginal_price']].resample('H').sum()
sum_3_df.columns = ['volume_sum', 'system_marginal_price_sum']
sum_3_df.head()

                     volume_sum  system_marginal_price_sum
begin_datetime_mpt
2022-12-26 00:00:00         186                     361.50
2022-12-26 01:00:00         130                     241.57
2022-12-26 02:00:00         188                     209.76
2022-12-26 03:00:00         168                     202.87
2022-12-26 04:00:00         219                     292.57

In [28]:
sum_5_df = data_5[['volume', 'system_marginal_price']].resample('H').sum()
sum_5_df.columns = ['volume_sum', 'system_marginal_price_sum']
sum_5_df.head()

                     volume_sum  system_marginal_price_sum
begin_datetime_mpt
2021-01-01 00:00:00         267                     152.72
2021-01-01 01:00:00          57                      27.48
2021-01-01 02:00:00         227                     142.81
2021-01-01 03:00:00         273                     164.16
2021-01-01 04:00:00          50                      35.36

In [29]:
sum_6_df = data_6[['volume', 'system_marginal_price']].resample('H').sum()
sum_6_df.columns = ['volume_sum', 'system_marginal_price_sum']
sum_6_df.head()

                     volume_sum  system_marginal_price_sum
begin_datetime_mpt
2021-07-01 00:00:00         326                     264.09
2021-07-01 01:00:00         261                     198.67
2021-07-01 02:00:00         250                     159.38
2021-07-01 03:00:00          50                      31.92
2021-07-01 04:00:00         113                     103.32

In [30]:
sum_7_df = data_7[['volume', 'system_marginal_price']].resample('H').sum()
sum_7_df.columns = ['volume_sum', 'system_marginal_price_sum']
sum_7_df.head()

                     volume_sum  system_marginal_price_sum
begin_datetime_mpt
2021-12-26 00:00:00         150                     218.27
2021-12-26 01:00:00         100                     146.02
2021-12-26 02:00:00         110                     136.00
2021-12-26 03:00:00          90                     139.51
2021-12-26 04:00:00          50                      71.22

In [31]:
average_df = pd.concat([average_5_df, average_6_df, average_7_df, average_1_df, average_2_df, average_3_df], axis=0)
sum_df = pd.concat([sum_5_df, sum_6_df, sum_7_df, sum_1_df, sum_2_df, sum_3_df], axis=0)
smp_df = pd.merge(average_df, sum_df, left_index=True, right_index=True)
smp_df = smp_df.asfreq('H')

In [32]:
X = pd.merge(X, smp_df, left_index=True, right_index=True)
X = X.asfreq('H')
y = y.asfreq('H')
print(X.isna().sum().sum())

6

In [33]:
# Find index of nans in x
X[X.isna().any(axis=1)].index

DatetimeIndex(['2021-03-14 02:00:00', '2022-03-13 02:00:00',
               '2023-03-12 02:00:00'],
              dtype='datetime64[ns]', freq='8736H')

In [34]:
# Show nan values
X[X.isna().any(axis=1)]

,calgary_load,central_load,edmonton_load,losses,northeast_load,northwest_load,south_load,system_load,ail,gas_price,...,rolling_std,rolling_min,rolling_max,rolling_median,exp_moving_avg,weekly_profile,volume_avg,system_marginal_price_avg,volume_sum,system_marginal_price_sum
2021-03-14 02:00:00,837.815545,1187.724256,1198.998202,201.117480,1195.090734,852.767742,791.921858,6265.435816,9044,2.465,...,2.180849,31.56,40.70,37.46,36.899421,1,NaN,NaN,0,0.0
2022-03-13 02:00:00,888.540614,1246.141373,1296.376943,202.680432,1178.474171,883.322730,823.566607,6519.102870,9515,4.600,...,20.140946,39.27,121.63,68.58,70.410445,1,NaN,NaN,0,0.0
2023-03-12 02:00:00,1013.070080,1241.024111,1334.068814,247.600037,1216.789786,880.299005,782.896114,6715.747947,9932,3.150,...,254.492648,57.30,845.73,68.16,225.288866,1,NaN,NaN,0,0.0

In [35]:
# fill nan values
X['volume_avg'].fillna(X['volume_avg'].mean(), inplace=True)
X['system_marginal_price_avg'].fillna(X['system_marginal_price_avg'].mean(), inplace=True)

In [36]:
print(X.isna().sum().sum())

0

In [37]:
float64_cols = X.select_dtypes(include=['float64']).columns.tolist()
X[float64_cols] = X[float64_cols].astype('float32')

# Change weekly_profile, season, peak_or_not to int 
X['weekly_profile'] = X['weekly_profile'].astype('int32')
X['season'] = X['season'].astype('int32')
X['peak_or_not'] = X['peak_or_not'].astype('int32')

In [38]:
X.columns

Index(['calgary_load', 'central_load', 'edmonton_load', 'losses',
       'northeast_load', 'northwest_load', 'south_load', 'system_load', 'ail',
       'gas_price', 'peak_or_not', 'season', 'gas_tng', 'dual_fuel_tng',
       'coal_tng', 'wind_tng', 'solar_tng', 'hydro_tng', 'storage_tng',
       'other_tng', 'gas_avail', 'dual_fuel_avail', 'coal_avail', 'wind_avail',
       'solar_avail', 'hydro_avail', 'storage_avail', 'other_avail',
       'gas_reserve_margin', 'coal_reserve_margin', 'wind_reserve_margin',
       'solar_reserve_margin', 'hydro_reserve_margin',
       'storage_reserve_margin', 'other_reserve_margin', 'total_tng',
       'total_avail', 'gas_supply_mix', 'dual_fuel_supply_mix',
       'coal_supply_mix', 'wind_supply_mix', 'solar_supply_mix',
       'hydro_supply_mix', 'storage_supply_mix', 'other_supply_mix',
       'total_reserve_margin', 'relative_gas_reserve', 'demand_supply_ratio',
       'avail_gen_ratio', 'load_on_gas_reserve', 'renewable_energy_ratio',
       'fossil_fuel_ratio', 'energy_reserve_margin', 'gas_cost',
       'gas_avail_ratio', 'coal_avail_ratio', 'gas_tng_ratio',
       'coal_tng_ratio', 'renewable_energy_penetration', 'atc_sk_export',
       'atc_sk_import', 'atc_wecc_export', 'atc_wecc_import', 'bc', 'mt', 'sk',
       'ttc_sk_export', 'ttc_sk_import', 'ttc_wecc_export', 'ttc_wecc_import',
       'wecc', 'imported', 'exported', 'total_flow', 'rolling_mean',
       'rolling_std', 'rolling_min', 'rolling_max', 'rolling_median',
       'exp_moving_avg', 'weekly_profile', 'volume_avg',
       'system_marginal_price_avg', 'volume_sum', 'system_marginal_price_sum'],
      dtype='object')

In [39]:
# 1/0

In [40]:
from sklearn.linear_model import ElasticNet
from sklearn.preprocessing import StandardScaler
from sktime.forecasting.compose import ForecastingPipeline, make_reduction, TransformedTargetForecaster
from sktime.transformations.series.adapt import TabularToSeriesAdaptor
from lightgbm import LGBMRegressor

direct_pipe_t = TransformedTargetForecaster(
                    [
                        (
                            "forecast",
                            make_reduction(
                                LGBMRegressor(n_estimators = 1, max_depth=1, device='gpu'),
                                window_length=24,
                                strategy="direct",
                            ),
                        ),
                    ]
                )

direct_pipe_t.fit(y=y, X=X, fh = np.arange(1, 12+1))

TransformedTargetForecaster(steps=[('forecast',
                                    DirectTabularRegressionForecaster(estimator=LGBMRegressor(device='gpu', max_depth=1, n_estimators=1),
                                                                      window_length=24))])

In [41]:
def create_lagged_columns(X, lag_range=24):
    lagged_names = []
    for col in X:
        for lag in range(lag_range, 0, -1):
            lagged_names.append(f"{col}_lag{lag}")
    return lagged_names
labels = create_lagged_columns(['price'] + X.columns.values.tolist(), lag_range=24)
len(labels)

2064

In [42]:
y_transformed = direct_pipe_t.transform(y)  # does all the trasnformations on y
y_enc, X_enc = direct_pipe_t.forecaster_._transform(y_transformed, X)  # TransfomedTargetForecaster does not transform X, only y.

In [43]:
array_df = pd.DataFrame(y_enc)
array_df.columns = ['price1', 'price2', 'price3', 'price4','price5', 'price6','price7', 'price8','price9', 'price10', 'price11', 'price12']
array_df

,price1,price2,price3,price4,price5,price6,price7,price8,price9,price10,price11,price12
0,30.42,27.03,31.40,28.40,28.80,29.26,31.72,32.24,34.10,39.68,39.87,46.35
1,27.03,31.40,28.40,28.80,29.26,31.72,32.24,34.10,39.68,39.87,46.35,42.78
2,31.40,28.40,28.80,29.26,31.72,32.24,34.10,39.68,39.87,46.35,42.78,33.32
3,28.40,28.80,29.26,31.72,32.24,34.10,39.68,39.87,46.35,42.78,33.32,25.99
4,28.80,29.26,31.72,32.24,34.10,39.68,39.87,46.35,42.78,33.32,25.99,25.07
...,...,...,...,...,...,...,...,...,...,...,...,...
21058,41.07,44.50,45.55,48.46,61.45,62.30,68.43,87.16,51.31,142.40,143.65,66.97
21059,44.50,45.55,48.46,61.45,62.30,68.43,87.16,51.31,142.40,143.65,66.97,43.54
21060,45.55,48.46,61.45,62.30,68.43,87.16,51.31,142.40,143.65,66.97,43.54,36.74
21061,48.46,61.45,62.30,68.43,87.16,51.31,142.40,143.65,66.97,43.54,36.74,27.91
21062,61.45,62.30,68.43,87.16,51.31,142.40,143.65,66.97,43.54,36.74,27.91,27.24

In [44]:
X_enc = pd.DataFrame(X_enc, columns=labels)

In [45]:
merged_df = pd.concat([X_enc, array_df], axis=1)

In [46]:
corr_matrix = merged_df.corr('spearman')

In [47]:
import re
overall_useless = []

for i in range(1, 13):
    feature_correlations = corr_matrix[f'price{i}'].drop(f'price{i}')
    sorted_correlations = feature_correlations.abs().sort_values(ascending=False)
    
    low = sorted_correlations[sorted_correlations<0.3]
    high = sorted_correlations[sorted_correlations>=0.3]
    
    strings_high = high.index.values
    strings_low = low.index.values

    clean_results_high = []
    clean_results_low = []

    for string in strings_high:
        clean_string = re.sub(r'_lag\d+', '', string)
        clean_results_high.append(clean_string)
    
    for string in strings_low:
        clean_string = re.sub(r'_lag\d+', '', string)
        clean_results_low.append(clean_string)

    useless_results = [value for value in clean_results_low if value not in clean_results_high]
    unique_results = list(set(useless_results))
    overall_useless.append(unique_results)

In [48]:
common_values = set(overall_useless[0])  

for sublist in overall_useless[1:]:
    common_values = common_values.intersection(sublist)  

common_values = list(common_values) 
common_values

['other_avail',
 'demand_supply_ratio',
 'storage_tng',
 'energy_reserve_margin',
 'atc_wecc_import',
 'other_supply_mix',
 'losses',
 'atc_sk_import',
 'volume_avg',
 'total_flow',
 'total_reserve_margin',
 'hydro_reserve_margin',
 'gas_avail',
 'central_load',
 'other_tng',
 'storage_reserve_margin',
 'system_load',
 'ttc_sk_export',
 'coal_tng',
 'hydro_tng',
 'ttc_wecc_export',
 'south_load',
 'wecc',
 'dual_fuel_avail',
 'storage_avail',
 'total_tng',
 'storage_supply_mix',
 'dual_fuel_supply_mix',
 'load_on_gas_reserve',
 'avail_gen_ratio',
 'ttc_sk_import',
 'gas_reserve_margin',
 'solar_tng',
 'solar_supply_mix',
 'ail',
 'coal_supply_mix',
 'northeast_load',
 'coal_avail_ratio',
 'atc_sk_export',
 'volume_sum',
 'coal_tng_ratio',
 'atc_wecc_export',
 'gas_avail_ratio',
 'sk',
 'solar_reserve_margin',
 'imported',
 'exported',
 'season',
 'ttc_wecc_import',
 'hydro_avail',
 'hydro_supply_mix',
 'total_avail',
 'coal_avail',
 'bc',
 'fossil_fuel_ratio',
 'relative_gas_reserve',
 'dual_fuel_tng',
 'weekly_profile',
 'wind_avail',
 'mt',
 'peak_or_not']

In [49]:
useful_values = list(set(X.columns) - set(common_values))
useful_values

['coal_reserve_margin',
 'renewable_energy_penetration',
 'wind_tng',
 'edmonton_load',
 'gas_cost',
 'system_marginal_price_sum',
 'rolling_median',
 'rolling_std',
 'wind_supply_mix',
 'gas_supply_mix',
 'rolling_min',
 'gas_tng',
 'gas_tng_ratio',
 'wind_reserve_margin',
 'rolling_mean',
 'northwest_load',
 'system_marginal_price_avg',
 'solar_avail',
 'rolling_max',
 'gas_price',
 'exp_moving_avg',
 'calgary_load',
 'other_reserve_margin',
 'renewable_energy_ratio']

In [50]:
sorted_useful_values = [
    "renewable_energy_penetration",
    "fossil_fuel_ratio",
    "renewable_energy_ratio",
    "gas_supply_mix",
    "wind_supply_mix",
    "system_marginal_price_avg",
    "system_marginal_price_sum",
    "gas_cost",
    "hydro_reserve_margin",
    "wind_reserve_margin",
    "other_reserve_margin",
    "gas_reserve_margin",
    "rolling_std",
    "rolling_median",
    "rolling_min",
    "rolling_max",
    "exp_moving_avg",
    "rolling_mean",
    "gas_tng",
    "gas_tng_ratio",
    "relative_gas_reserve",
    "hydro_tng",
    "wind_tng",
    "load_on_gas_reserve",
    "northwest_load",
    "calgary_load",
]

In [51]:
X_small = X[sorted_useful_values]
X_small.columns

Index(['renewable_energy_penetration', 'fossil_fuel_ratio',
       'renewable_energy_ratio', 'gas_supply_mix', 'wind_supply_mix',
       'system_marginal_price_avg', 'system_marginal_price_sum', 'gas_cost',
       'hydro_reserve_margin', 'wind_reserve_margin', 'other_reserve_margin',
       'gas_reserve_margin', 'rolling_std', 'rolling_median', 'rolling_min',
       'rolling_max', 'exp_moving_avg', 'rolling_mean', 'gas_tng',
       'gas_tng_ratio', 'relative_gas_reserve', 'hydro_tng', 'wind_tng',
       'load_on_gas_reserve', 'northwest_load', 'calgary_load'],
      dtype='object')

In [52]:
corr_matrix_small = X_small.corr(method='spearman')
highly_correlated_features = []


for i in range(len(corr_matrix_small.columns)):
    for j in range(i):
        if abs(corr_matrix_small.iloc[i, j]) > 0.9:
            colname = corr_matrix_small.columns[i]
            rowname = corr_matrix_small.columns[j]
            highly_correlated_features.append((rowname, colname, corr_matrix_small.iloc[i, j]))


corr_df_small = pd.DataFrame(highly_correlated_features, columns=['Feature1', 'Feature2', 'Correlation'])
print(corr_df_small)

                        Feature1                Feature2  Correlation
0   renewable_energy_penetration  renewable_energy_ratio     1.000000
1                wind_supply_mix     wind_reserve_margin    -0.975261
2                    rolling_std             rolling_max     0.984996
3                    rolling_std            rolling_mean     0.914177
4                    rolling_max            rolling_mean     0.922672
5                 exp_moving_avg            rolling_mean     0.965365
6                 gas_supply_mix           gas_tng_ratio     1.000000
7             gas_reserve_margin    relative_gas_reserve     0.963913
8           hydro_reserve_margin               hydro_tng    -0.950828
9                wind_supply_mix                wind_tng     0.992327
10           wind_reserve_margin                wind_tng    -0.970275
11            gas_reserve_margin     load_on_gas_reserve     0.998378
12          relative_gas_reserve     load_on_gas_reserve     0.966042

In [53]:
# Drop highly correlated features
sorted_useful_values.remove('gas_tng_ratio')
sorted_useful_values.remove('wind_tng')
sorted_useful_values.remove('renewable_energy_penetration')

In [54]:
sorted_useful_values

['fossil_fuel_ratio',
 'renewable_energy_ratio',
 'gas_supply_mix',
 'wind_supply_mix',
 'system_marginal_price_avg',
 'system_marginal_price_sum',
 'gas_cost',
 'hydro_reserve_margin',
 'wind_reserve_margin',
 'other_reserve_margin',
 'gas_reserve_margin',
 'rolling_std',
 'rolling_median',
 'rolling_min',
 'rolling_max',
 'exp_moving_avg',
 'rolling_mean',
 'gas_tng',
 'relative_gas_reserve',
 'hydro_tng',
 'load_on_gas_reserve',
 'northwest_load',
 'calgary_load']

In [55]:
X_small = X_small[sorted_useful_values]

In [56]:
print(y.isna().sum().sum())

0

In [57]:
print(X.isna().sum().sum())

0

In [58]:
y[y<5] = 5

In [59]:
X[sorted_useful_values].lt(0).any() # These cannot be log transformed

fossil_fuel_ratio            False
renewable_energy_ratio       False
gas_supply_mix               False
wind_supply_mix              False
system_marginal_price_avg    False
system_marginal_price_sum    False
gas_cost                      True
hydro_reserve_margin         False
wind_reserve_margin           True
other_reserve_margin          True
gas_reserve_margin            True
rolling_std                  False
rolling_median               False
rolling_min                  False
rolling_max                  False
exp_moving_avg               False
rolling_mean                 False
gas_tng                      False
relative_gas_reserve          True
hydro_tng                    False
load_on_gas_reserve           True
northwest_load               False
calgary_load                 False
dtype: bool

In [60]:
cols_for_log_transform_small = list(set(sorted_useful_values) - set(list(X[sorted_useful_values].columns[X[sorted_useful_values].lt(0).any()])))
cols_for_log_transform_small

['gas_tng',
 'exp_moving_avg',
 'rolling_median',
 'hydro_tng',
 'rolling_std',
 'rolling_min',
 'northwest_load',
 'wind_supply_mix',
 'calgary_load',
 'fossil_fuel_ratio',
 'renewable_energy_ratio',
 'system_marginal_price_avg',
 'rolling_max',
 'hydro_reserve_margin',
 'gas_supply_mix',
 'system_marginal_price_sum',
 'rolling_mean']

In [61]:
X.index.name = "date"
y.index.name = "date"
X = X.asfreq("H")
y = y.asfreq("H")

In [62]:
# Add demand_supply_ratio, weekly_profile, system_load total_reserve_margin volum_sum volumn_avg to useful_values
sorted_useful_values.append('system_load')
sorted_useful_values.append('demand_supply_ratio')
sorted_useful_values.append('total_reserve_margin')
sorted_useful_values.append('volume_sum')
sorted_useful_values.append('volume_avg')
sorted_useful_values.append('weekly_profile')

In [63]:
cols_for_log_transform_medium = list(set(sorted_useful_values) - set(list(X[sorted_useful_values].columns[X[sorted_useful_values].lt(0).any()])))
cols_for_log_transform_medium

['demand_supply_ratio',
 'volume_avg',
 'hydro_reserve_margin',
 'system_marginal_price_sum',
 'system_load',
 'rolling_median',
 'hydro_tng',
 'rolling_std',
 'wind_supply_mix',
 'gas_supply_mix',
 'gas_tng',
 'rolling_min',
 'rolling_mean',
 'volume_sum',
 'northwest_load',
 'system_marginal_price_avg',
 'rolling_max',
 'exp_moving_avg',
 'calgary_load',
 'fossil_fuel_ratio',
 'renewable_energy_ratio',
 'weekly_profile']

In [64]:
folder_path = '../../data/processed/complete_data'
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# Save the DataFrame to a file inside the folder
file_path = os.path.join(folder_path, 'features.csv')
pd.DataFrame(X[sorted_useful_values]).to_csv(file_path)

file_path = os.path.join(folder_path, 'target.csv')
pd.DataFrame(y).to_csv(file_path)

In [65]:
# train test split
X_train = X[sorted_useful_values].loc['2021-01-01':'2023-01-31']
X_test = X[sorted_useful_values].loc['2023-02-01':]

y_train = y.loc['2021-01-01':'2023-01-31']
y_test = y.loc['2023-02-01':]

train_path = '../../data/processed/train'
if not os.path.exists(train_path):
    os.makedirs(train_path)
train_path = os.path.join(train_path, 'X_train.csv')
pd.DataFrame(X_train).to_csv(train_path)

test_path = '../../data/processed/test'
if not os.path.exists(test_path):
    os.makedirs(test_path)
test_path = os.path.join(test_path, 'X_test.csv')
pd.DataFrame(X_test).to_csv(test_path)
pd.DataFrame(y_train).to_csv('../../data/processed/train/y_train.csv')
pd.DataFrame(y_test).to_csv('../../data/processed/test/y_test.csv')

#### Check if dataframes are equal by appending _check to files generated by script

In [55]:
import pandas as pd

# Assuming you have two DataFrame objects: df1 and df2

# df1 = pd.read_csv('../../data/processed/complete_data/features.csv', parse_dates=['date'], index_col='date')
# df2 = pd.read_csv('../../../test_data/processed/complete_data/features.csv', parse_dates=['date'], index_col='date')


df1 = pd.read_csv('../../data/processed/complete_data/target.csv', parse_dates=['date'], index_col='date')
df2 = pd.read_csv('../../../test_data/processed/complete_data/target.csv', parse_dates=['date'], index_col='date')


# df1 = pd.read_csv('../../data/processed/train/X_train.csv', parse_dates=['date'], index_col='date')
# df2 = pd.read_csv('../../../test_data/processed/train/X_train.csv', parse_dates=['date'], index_col='date')


# df1 = pd.read_csv('../../data/processed/train/y_train.csv', parse_dates=['date'], index_col='date')
# df2 = pd.read_csv('../../../test_data/processed/train/y_train.csv', parse_dates=['date'], index_col='date')

# df1 = pd.read_csv('../../data/processed/test/X_test.csv', parse_dates=['date'], index_col='date')
# df2 = pd.read_csv('../../../test_data/processed/test/X_test.csv', parse_dates=['date'], index_col='date')

# df1 = pd.read_csv('../../data/processed/test/y_test.csv', parse_dates=['date'], index_col='date')
# df2 = pd.read_csv('../../../test_data/processed/test/y_test.csv', parse_dates=['date'], index_col='date')

# Compare if the two DataFrames are equal
if df1.equals(df2):
    print("The DataFrames are equal.")
else:
    print("The DataFrames are not equal.")

The DataFrames are equal.

In [56]:
if df1.sort_values(by=df1.columns.tolist()).reset_index(drop=True).equals(
   df2.sort_values(by=df2.columns.tolist()).reset_index(drop=True)
):
    print("The DataFrames are equal.")
else:
    print("The DataFrames are not equal.")

The DataFrames are equal.

In [57]:
import pandas as pd

# Assuming you have two DataFrame objects: df1 and df2

# Create an empty list to store the indices of differing rows
differing_rows = []

# Iterate over the rows of both DataFrames and compare them
for index, (row1, row2) in enumerate(zip(df1.iterrows(), df2.iterrows())):
    if not row1[1].equals(row2[1]):
        differing_rows.append(index)

# Print the indices of differing rows
if differing_rows:
    print("The following rows are not equal between the DataFrames:")
    print(differing_rows)
else:
    print("All rows are equal between the DataFrames.")

All rows are equal between the DataFrames.