# Avg RMSE of predictions by AESO

### 6 hour predictions by AESO

We have the six hour predictions made by AESO every hour from 25 th May 15:00:00 to 31st May 23:00:00.

In [97]:
from datetime import timedelta, datetime
import pandas as pd
import os
import re

def get_current_time(file_path):
    date_time = None
    # Extract the date and time using regular expressions
    match = re.search(r"\d{4}-\d{2}-\d{2}_\d{2}-\d{2}", file_path)
    if match:
        date_time_str = match.group(0)
        # Convert the string to a datetime object
        date_time = datetime.strptime(date_time_str, "%Y-%m-%d_%H-%M")
    else:
        print("No date and time found in the string.")
    return date_time - timedelta(hours=1)


def process_pool_price_data(file_path):
    data = pd.read_json(file_path)
    df = pd.DataFrame(data['return']['Pool Price Report'])
    filtered_df = df[df['pool_price'].eq('') & df['rolling_30day_avg'].eq('') & df['forecast_pool_price'].ne('')][['begin_datetime_mpt','forecast_pool_price']]
    return filtered_df

def create_wider_df(filtered_df,file_path):
    wider_df =  pd.DataFrame({'current_alberta_time': [get_current_time(file_path)]})
    # Add columns T0 to T5 or up to the number of rows in filtered_df
    for i in range(min(6, len(filtered_df))):
        col_name = f'T{i}'
        if i < len(filtered_df):
            wider_df[col_name] = filtered_df.iloc[i]['forecast_pool_price']
        else:
            wider_df[col_name] = ''

    return wider_df

def process_folder(folder_path):
    # Get the list of files in the folder
    file_list = os.listdir(folder_path)
    dfs = []

    # Process each JSON file
    for file_name in file_list:
        if file_name.endswith('.json'):
            file_path = os.path.join(folder_path, file_name)
            filtered_df = process_pool_price_data(file_path)
            wider_df = create_wider_df(filtered_df,file_path)
            dfs.append(wider_df)

    df = pd.concat(dfs, ignore_index=True)
    return df

def sort_and_save_data(df, output_file):
    df_sorted = df.sort_values('current_alberta_time')
    df_sorted = df_sorted.reset_index(drop=True)
    df_sorted.to_csv(output_file, index=False)

# Main execution
folder_path = '../../data/raw/pool_price/'
output_file = 'formatted_data.csv'

df = process_folder(folder_path)
df.set_index('current_alberta_time', inplace=True)

### Actual pool price from AESO

We have the actual pool price as published by AESO which is obtained using the API

In [98]:
import requests

url = 'https://api.aeso.ca/report/v1.1/price/poolPrice'
headers = {
    'accept': 'application/json',
    'X-API-Key': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ6MHo4MnIiLCJpYXQiOjE2ODM1NzQyMTh9.Gbod9kjeDwP4SOJibSFof63X7GGZxbZdBmBVrgE409w'
}
params = {
    'startDate': '2023-05-25',
    'endDate': '2023-06-17'
}

response = requests.get(url, headers=headers, params=params)
actual_df = pd.DataFrame(response.json()['return']['Pool Price Report'])
actual_df

# actual_df = actual_df.loc[actual_df['begin_datetime_mpt'] >= '2023-05-25 14:00:00']
actual_df = actual_df.loc[actual_df['begin_datetime_mpt'] >= '2023-05-25 23:00:00']
actual_df

,begin_datetime_utc,begin_datetime_mpt,pool_price,forecast_pool_price,rolling_30day_avg
24,2023-05-26 06:00,2023-05-26 00:00,87.53,68.53,147.78
25,2023-05-26 07:00,2023-05-26 01:00,86.98,86.26,147.83
26,2023-05-26 08:00,2023-05-26 02:00,64.87,59.28,147.83
27,2023-05-26 09:00,2023-05-26 03:00,59.22,58.86,147.67
28,2023-05-26 10:00,2023-05-26 04:00,112.05,92.64,147.47
...,...,...,...,...,...
571,2023-06-18 01:00,2023-06-17 19:00,38.36,43.8,181.02
572,2023-06-18 02:00,2023-06-17 20:00,42.32,34.57,180.99
573,2023-06-18 03:00,2023-06-17 21:00,40.46,47.26,180.98
574,2023-06-18 04:00,2023-06-17 22:00,45.25,48.15,180.99
575,2023-06-18 05:00,2023-06-17 23:00,30.26,34.78,180.99

### Tranformed table for actual prices

In [99]:


import numpy as np
new_df = pd.DataFrame(columns = ['begin_datetime_mpt', 'P0', 'P1', 'P2', 'P3', 'P4', 'P5'])

# Calculate the pool_price list
pool_price_list = actual_df['pool_price'].tolist() + [np.nan]*5  # Append NaNs for P4, P5 in the last rows

for i in range(len(actual_df)):
    new_row = pd.DataFrame({
        'begin_datetime_mpt': actual_df.iloc[i, actual_df.columns.get_loc('begin_datetime_mpt')],
        'P0': [pool_price_list[i]],
        'P1': [pool_price_list[i+1]],
        'P2': [pool_price_list[i+2]],
        'P3': [pool_price_list[i+3]],
        'P4': [pool_price_list[i+4]],
        'P5': [pool_price_list[i+5]]
    })
    
    new_df = pd.concat([new_df, new_row], ignore_index=True)

# Print the new dataframe
new_df = new_df.loc[new_df['begin_datetime_mpt'] < '2023-06-14 20:00:00']
new_df

    begin_datetime_mpt      P0      P1      P2      P3      P4      P5
0     2023-05-26 00:00   87.53   86.98   64.87   59.22  112.05  261.51
1     2023-05-26 01:00   86.98   64.87   59.22  112.05  261.51  700.22
2     2023-05-26 02:00   64.87   59.22  112.05  261.51  700.22  699.60
3     2023-05-26 03:00   59.22  112.05  261.51  700.22  699.60  458.33
4     2023-05-26 04:00  112.05  261.51  700.22  699.60  458.33   64.29
..                 ...     ...     ...     ...     ...     ...     ...
472   2023-06-14 16:00   34.76   31.38   27.50   26.02   38.56   40.59
473   2023-06-14 17:00   31.38   27.50   26.02   38.56   40.59   29.27
474   2023-06-14 18:00   27.50   26.02   38.56   40.59   29.27   21.29
475   2023-06-14 19:00   26.02   38.56   40.59   29.27   21.29   18.47
476   2023-06-14 20:00   38.56   40.59   29.27   21.29   18.47   13.70

[477 rows x 7 columns]

In [100]:
# Check if there any missing dates in the dataframe

new_df['begin_datetime_mpt'] = pd.to_datetime(new_df['begin_datetime_mpt'])

# Create a complete date range from start to end
start_date = new_df['begin_datetime_mpt'].min()
end_date = new_df['begin_datetime_mpt'].max()
complete_date_range = pd.date_range(start=start_date, end=end_date, freq='H')

# Check if all the dates in the complete range exist in your DataFrame
missing_dates = complete_date_range[~complete_date_range.isin(new_df['begin_datetime_mpt'])]

print(f"Number of missing dates: {len(missing_dates)}")
if len(missing_dates) > 0:
    print("Missing dates are:")
    print(missing_dates)

Number of missing dates: 0

### Tranformed table for predicted prices + actual price for that hour

In [101]:
valid_df = actual_df[['begin_datetime_mpt','pool_price']]
valid_df.set_index('begin_datetime_mpt', inplace=True)
valid_df.index = pd.to_datetime(valid_df.index)
merged_df = pd.merge(df, valid_df, left_index=True, right_index=True, how='left')
merged_df = merged_df.reset_index()
merged_df = merged_df.loc[merged_df['current_alberta_time'] >= '2023-05-26 00:00:00']
merged_df

,current_alberta_time,T0,T1,T2,T3,T4,T5,pool_price
9,2023-05-26 00:00:00,68.53,86.26,61.01,36.03,111.55,148.09,87.53
10,2023-05-26 01:00:00,86.26,59.28,35.54,77.71,85.17,404.2,86.98
11,2023-05-26 02:00:00,59.28,58.86,59.73,86.27,527.93,698.28,64.87
12,2023-05-26 03:00:00,58.86,92.64,91.53,427.54,691.64,845.22,59.22
13,2023-05-26 04:00:00,92.64,90.37,501.49,723.08,869.92,922.91,112.05
...,...,...,...,...,...,...,...,...
478,2023-06-14 16:00:00,44.28,31.84,25.49,18.98,8.54,0.01,34.76
479,2023-06-14 17:00:00,31.84,23.73,18.98,5.7,0.0,0.0,31.38
480,2023-06-14 18:00:00,23.73,20.25,20.48,17.21,15.38,0.01,27.50
481,2023-06-14 19:00:00,20.25,31.27,29.63,31.98,22.23,3.17,26.02
482,2023-06-14 20:00:00,31.27,33.38,33.41,30.28,26.16,21.36,38.56

## Check for any missing dates

In [102]:
# create a complete date range from start to end
start_date = merged_df['current_alberta_time'].min()
end_date = merged_df['current_alberta_time'].max()
complete_date_range = pd.date_range(start=start_date, end=end_date, freq='H')

# create a new DataFrame with complete date range
df_full = pd.DataFrame(complete_date_range, columns=['current_alberta_time'])
df_full.set_index('current_alberta_time', inplace=True)

# set datetime as index in the original DataFrame
merged_df.set_index('current_alberta_time', inplace=True)

# reindex the original DataFrame with the full DataFrame index
merged_df = merged_df.reindex(df_full.index)

# fill missing values with the mean of each column
merged_df.fillna(df.mean(), inplace=True)
merged_df[['T0', 'T1','T2', 'T3','T4', 'T5', 'pool_price']] = merged_df[['T0', 'T1','T2', 'T3','T4', 'T5', 'pool_price']].apply(pd.to_numeric, errors='coerce')

# Fill NaN values with the mean of each column
merged_df = merged_df.fillna(merged_df.mean())
merged_df = merged_df.reset_index()

# reset index

C:\Users\sneha\AppData\Local\Temp\ipykernel_13108\173182938.py:17: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  merged_df.fillna(df.mean(), inplace=True)

In [103]:
merged_df['current_alberta_time'] = pd.to_datetime(merged_df['current_alberta_time'])

# Create a complete date range from start to end
start_date = merged_df['current_alberta_time'].min()
end_date = merged_df['current_alberta_time'].max()
complete_date_range = pd.date_range(start=start_date, end=end_date, freq='H')

# Check if all the dates in the complete range exist in your DataFrame
missing_dates = complete_date_range[~complete_date_range.isin(merged_df['current_alberta_time'])]

print(f"Number of missing dates: {len(missing_dates)}")
if len(missing_dates) > 0:
    print("Missing dates are:")
    print(missing_dates)

Number of missing dates: 0

In [104]:
actual_df = new_df.loc[new_df['begin_datetime_mpt'] < '2023-05-31 00:00:00']  # actual pool prices by AESO 
pred_df = merged_df.loc[merged_df['current_alberta_time'] < '2023-05-31 00:00:00']  # predicted pool prices by AESO 
actual_df

     begin_datetime_mpt      P0      P1      P2      P3      P4      P5
0   2023-05-26 00:00:00   87.53   86.98   64.87   59.22  112.05  261.51
1   2023-05-26 01:00:00   86.98   64.87   59.22  112.05  261.51  700.22
2   2023-05-26 02:00:00   64.87   59.22  112.05  261.51  700.22  699.60
3   2023-05-26 03:00:00   59.22  112.05  261.51  700.22  699.60  458.33
4   2023-05-26 04:00:00  112.05  261.51  700.22  699.60  458.33   64.29
..                  ...     ...     ...     ...     ...     ...     ...
115 2023-05-30 19:00:00  142.40  143.65   66.97   43.54   36.74   27.91
116 2023-05-30 20:00:00  143.65   66.97   43.54   36.74   27.91   27.24
117 2023-05-30 21:00:00   66.97   43.54   36.74   27.91   27.24   29.35
118 2023-05-30 22:00:00   43.54   36.74   27.91   27.24   29.35   29.32
119 2023-05-30 23:00:00   36.74   27.91   27.24   29.35   29.32   29.32

[120 rows x 7 columns]

## Average of RMSEs of each fold

In [105]:

from sklearn.metrics import mean_squared_error

# actual_df = new_df.loc[new_df['begin_datetime_mpt'] < '2023-06-01 00:00:00']
# pred_df = merged_df.loc[merged_df['current_alberta_time'] < '2023-06-01 00:00:00']

rmse_values = []

for i in range(len(pred_df)):
    row_df1 = actual_df.iloc[i][['P0', 'P1','P2', 'P3','P4', 'P5']]
    row_df2 = pred_df.iloc[i][['T0', 'T1','T2', 'T3','T4', 'T5']]
    rmse = mean_squared_error(row_df1, row_df2, squared=False)
    rmse_values.append(rmse)

# Create new dataframe with begin_datetime_mpt and RMSE
df_rmse = pd.DataFrame({
    'begin_datetime_mpt': actual_df['begin_datetime_mpt'],
    'rmse': rmse_values
})

df_rmse

     begin_datetime_mpt        rmse
0   2023-05-26 00:00:00   47.921012
1   2023-05-26 01:00:00  141.712961
2   2023-05-26 02:00:00  102.602310
3   2023-05-26 03:00:00  205.496024
4   2023-05-26 04:00:00  403.390878
..                  ...         ...
115 2023-05-30 19:00:00   88.478267
116 2023-05-30 20:00:00   68.297422
117 2023-05-30 21:00:00   40.034342
118 2023-05-30 22:00:00    6.052561
119 2023-05-30 23:00:00   11.155851

[120 rows x 2 columns]

The above table shows the RMSE for the 6 hour predictions made at `begin_datetime_mpt - 1 hour`. 
The average RMSE calculated using the predictions and the actual values of pool prices every 6 hours are calculated below -

In [106]:
avg_rmse = df_rmse.mean()
avg_rmse

C:\Users\sneha\AppData\Local\Temp\ipykernel_13108\1947815268.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  avg_rmse = df_rmse.mean()

rmse    122.436357
dtype: float64

## 1 step, 2 step RMSE for dates 2023-05-25 15:00:00 to 2023-05-31 23:00:00

In [107]:
merged_df = merged_df.loc[merged_df['current_alberta_time'] < '2023-05-31 00:00:00'] 
merged_df

,current_alberta_time,T0,T1,T2,T3,T4,T5,pool_price
0,2023-05-26 00:00:00,68.53,86.26,61.01,36.03,111.55,148.09,87.53
1,2023-05-26 01:00:00,86.26,59.28,35.54,77.71,85.17,404.20,86.98
2,2023-05-26 02:00:00,59.28,58.86,59.73,86.27,527.93,698.28,64.87
3,2023-05-26 03:00:00,58.86,92.64,91.53,427.54,691.64,845.22,59.22
4,2023-05-26 04:00:00,92.64,90.37,501.49,723.08,869.92,922.91,112.05
...,...,...,...,...,...,...,...,...
115,2023-05-30 19:00:00,47.15,163.69,132.40,182.97,152.73,45.82,142.40
116,2023-05-30 20:00:00,163.69,159.44,139.15,134.02,42.83,41.65,143.65
117,2023-05-30 21:00:00,159.44,55.36,57.94,42.68,41.65,36.48,66.97
118,2023-05-30 22:00:00,55.36,37.44,28.55,26.28,24.28,22.07,43.54
119,2023-05-30 23:00:00,23.78,17.35,22.08,17.33,17.44,16.87,36.74

In [108]:
dataframes = []
for lag in range(6):
    df = merged_df.copy()
    df.iloc[:, lag:lag+1] = df.iloc[:, lag:lag+1].shift(lag)
    col_name= f'T{lag}'
    df = df[[col_name, 'pool_price']]
    dataframes.append(df)

df_1_lag = dataframes[0]  # DataFrame with 0 lag
df_2_lag = dataframes[1]  # DataFrame with 1 lag
df_3_lag = dataframes[2]  # DataFrame with 2 lag
df_4_lag = dataframes[3]  # DataFrame with 3 lag
df_5_lag = dataframes[4]  # DataFrame with 4 lag
df_6_lag = dataframes[5]  # DataFrame with 5 lag

C:\Users\sneha\AppData\Local\Temp\ipykernel_13108\2108201909.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:, lag:lag+1] = df.iloc[:, lag:lag+1].shift(lag)

In [109]:
df_1_lag

         T0  pool_price
0     68.53       87.53
1     86.26       86.98
2     59.28       64.87
3     58.86       59.22
4     92.64      112.05
..      ...         ...
115   47.15      142.40
116  163.69      143.65
117  159.44       66.97
118   55.36       43.54
119   23.78       36.74

[120 rows x 2 columns]


The average RMSE calculated using the predictions and the actual values of pool prices every 6 hours for 1 step, 2 step, are calculated below -

In [110]:
import pandas as pd
from sklearn.metrics import mean_squared_error
from math import sqrt

# Assuming df_0_lag, df_1_lag, ..., df_5_lag are the DataFrames in the list
dataframes = [df_1_lag, df_2_lag, df_3_lag, df_4_lag, df_5_lag, df_6_lag]
rmse_list = []

for i, df in enumerate(dataframes):
    predicted_col = f'T{i}'
    actual_col = 'pool_price'
    
    # Remove rows with missing values
    df_cleaned = df.dropna(subset=[predicted_col, actual_col])
    
    # Calculate RMSE
    rmse = mean_squared_error(df_cleaned[actual_col], df_cleaned[predicted_col], squared=False)
    
    # Print RMSE
    print(f"RMSE for {i + 1} step forecast is {rmse:.2f}")
    rmse_list.append(rmse)

RMSE for 1 step forecast is 117.53
RMSE for 2 step forecast is 120.57
RMSE for 3 step forecast is 158.48
RMSE for 4 step forecast is 176.31
RMSE for 5 step forecast is 220.64
RMSE for 6 step forecast is 253.08

In [111]:
# Average RMSE:
avg_rmse = sum(rmse_list) / len(rmse_list)
print(f"Average RMSE is {avg_rmse:.2f}")

Average RMSE is 174.44

In [112]:
merged_df

,current_alberta_time,T0,T1,T2,T3,T4,T5,pool_price
0,2023-05-26 00:00:00,68.53,86.26,61.01,36.03,111.55,148.09,87.53
1,2023-05-26 01:00:00,86.26,59.28,35.54,77.71,85.17,404.20,86.98
2,2023-05-26 02:00:00,59.28,58.86,59.73,86.27,527.93,698.28,64.87
3,2023-05-26 03:00:00,58.86,92.64,91.53,427.54,691.64,845.22,59.22
4,2023-05-26 04:00:00,92.64,90.37,501.49,723.08,869.92,922.91,112.05
...,...,...,...,...,...,...,...,...
115,2023-05-30 19:00:00,47.15,163.69,132.40,182.97,152.73,45.82,142.40
116,2023-05-30 20:00:00,163.69,159.44,139.15,134.02,42.83,41.65,143.65
117,2023-05-30 21:00:00,159.44,55.36,57.94,42.68,41.65,36.48,66.97
118,2023-05-30 22:00:00,55.36,37.44,28.55,26.28,24.28,22.07,43.54
119,2023-05-30 23:00:00,23.78,17.35,22.08,17.33,17.44,16.87,36.74

### Fold errors using second approach

In [113]:
import pandas as pd
import numpy as np

merged_df = merged_df.set_index('current_alberta_time')

# Calculate differences for each column
def calculate_differences(row, df, j):
    diffs = []

    for i in range(len(row)-1):
        diff = float(row[i]) - float(merged_df.iloc[j, merged_df.columns.get_loc('pool_price')])
        j = j + 1
        diffs.append(diff)

    return diffs

# Calculate RMSE for a list of differences
def calculate_rmse(diffs):
    rmse = np.sqrt(np.mean(np.square(diffs)))
    return rmse

# Calculate RMSE for each row in the DataFrame
def calculate_rmse_for_each_row(df):
    rmse_list = []
    for i in range(115):
        row = df.iloc[i]
        diffs = calculate_differences(row, df, i)
        rmse = calculate_rmse(diffs)
        rmse_list.append(rmse)
    return rmse_list

rmse_values = calculate_rmse_for_each_row(merged_df)

print(rmse_values)

[47.921012266715174, 141.71296135733905, 102.6023100779575, 205.49602356250108, 403.39087816079007, 552.0806937546963, 651.3449210543774, 701.4370877111265, 639.0729070171362, 209.3608992465722, 25.401514718614713, 156.5629061006044, 203.76846247640972, 200.86604275818584, 316.03789142548504, 416.84122330930757, 512.201149110386, 507.71872022475856, 445.66155200256316, 374.49529774528986, 362.4440324151211, 176.03538328036973, 175.80843253382358, 6.097522721018212, 10.962204005886164, 9.817998777755065, 6.952881896499224, 4.342647042223594, 2.121595311709248, 177.77747841988688, 150.40302130165693, 113.25625310183392, 101.99443391675841, 147.54176990488713, 18.69624561242176, 19.84720761215542, 19.478807715052792, 18.673823032969622, 38.73680269889777, 46.549397776269174, 48.21337141637508, 46.90721888295376, 47.358739073867525, 80.48513496292342, 65.79578063979484, 17.21046726074958, 3.5331926072604642, 2.7830289254695146, 1.0070915218257648, 0.9265887257390237, 4.037315527261482, 7.104736682899184, 8.5501120850353, 18.020172955144837, 10.738980398529463, 5.3873803157626305, 7.749228993906426, 122.94806999976319, 173.5995646595924, 181.2020735256636, 212.53519065478702, 243.17181233988998, 354.12829191316155, 332.62419324717393, 204.14483461503502, 91.06933484988235, 202.78595180633198, 150.87547729833364, 15.447422115032657, 8.745842821973572, 7.974698531397072, 15.853057538952328, 17.804156349946304, 3.399598015452217, 2.3561515231410732, 7.748822491191803, 340.1383132148842, 443.5258378418706, 413.3287055722117, 50.05668037335277, 70.17477763888296, 75.00328837235516, 141.5971323862175, 169.07361291264033, 327.09589659099464, 184.8554230563262, 183.240498571322, 125.37147389524726, 28.091127899510667, 21.77216686505962, 20.73875036415325, 15.488169678822608, 18.528367889986065, 8.224709721321478, 15.115700446886343, 10.743803640548661, 3.7459578214389966, 4.477056324565655, 5.782515311984339, 2.7348095607068026, 2.979549742270913, 4.9601848083850015, 70.34129477271401, 69.63008961229167, 98.61004855021754, 98.67103265036114, 99.5382965828194, 127.60200145813423, 68.99089614430376, 136.40218362129747, 44.32677670814035, 60.9443586396641, 60.27832169749475, 59.99196029469282, 57.89697804433895]

In [114]:
sum(rmse_values) / len(rmse_values)

129.44177589311852