# Avg RMSE of predictions by AESO

### 6 hour predictions by AESO

We have the six hour predictions made by AESO every hour from 25 th May 15:00:00 to 31st May 23:00:00.

In [1]:
from datetime import timedelta, datetime
import pandas as pd
import os
import re

def get_current_time(file_path):
    date_time = None
    # Extract the date and time using regular expressions
    match = re.search(r"\d{4}-\d{2}-\d{2}_\d{2}-\d{2}", file_path)
    if match:
        date_time_str = match.group(0)
        # Convert the string to a datetime object
        date_time = datetime.strptime(date_time_str, "%Y-%m-%d_%H-%M")
    else:
        print("No date and time found in the string.")
    return date_time - timedelta(hours=1)


def process_pool_price_data(file_path):
    data = pd.read_json(file_path)
    df = pd.DataFrame(data['return']['Pool Price Report'])
    filtered_df = df[df['pool_price'].eq('') & df['rolling_30day_avg'].eq('') & df['forecast_pool_price'].ne('')][['begin_datetime_mpt','forecast_pool_price']]
    return filtered_df

def create_wider_df(filtered_df,file_path):
    wider_df =  pd.DataFrame({'current_alberta_time': [get_current_time(file_path)]})
    # Add columns T0 to T5 or up to the number of rows in filtered_df
    for i in range(min(6, len(filtered_df))):
        col_name = f'T{i}'
        if i < len(filtered_df):
            wider_df[col_name] = filtered_df.iloc[i]['forecast_pool_price']
        else:
            wider_df[col_name] = ''

    return wider_df

def process_folder(folder_path):
    # Get the list of files in the folder
    file_list = os.listdir(folder_path)
    dfs = []

    # Process each JSON file
    for file_name in file_list:
        if file_name.endswith('.json'):
            file_path = os.path.join(folder_path, file_name)
            filtered_df = process_pool_price_data(file_path)
            wider_df = create_wider_df(filtered_df,file_path)
            dfs.append(wider_df)

    df = pd.concat(dfs, ignore_index=True)
    return df

def sort_and_save_data(df, output_file):
    df_sorted = df.sort_values('current_alberta_time')
    df_sorted = df_sorted.reset_index(drop=True)
    df_sorted.to_csv(output_file, index=False)

# Main execution
folder_path = '../../data/raw/pool_price/'
output_file = 'formatted_data.csv'

df = process_folder(folder_path)
df.set_index('current_alberta_time', inplace=True)

### Actual pool price from AESO

We have the actual pool price as published by AESO which is obtained using the API

In [2]:
import requests

url = 'https://api.aeso.ca/report/v1.1/price/poolPrice'
headers = {
    'accept': 'application/json',
    'X-API-Key': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ6MHo4MnIiLCJpYXQiOjE2ODM1NzQyMTh9.Gbod9kjeDwP4SOJibSFof63X7GGZxbZdBmBVrgE409w'
}
params = {
    'startDate': '2023-05-25',
    'endDate': '2023-06-17'
}

response = requests.get(url, headers=headers, params=params)
actual_df = pd.DataFrame(response.json()['return']['Pool Price Report'])
actual_df

,begin_datetime_utc,begin_datetime_mpt,pool_price,forecast_pool_price,rolling_30day_avg
0,2023-05-25 06:00,2023-05-25 00:00,326.84,484.12,139.55
1,2023-05-25 07:00,2023-05-25 01:00,218.47,78.33,139.78
2,2023-05-25 08:00,2023-05-25 02:00,138.71,425.15,139.90
3,2023-05-25 09:00,2023-05-25 03:00,45.00,43.88,139.89
4,2023-05-25 10:00,2023-05-25 04:00,42.86,44.81,139.87
...,...,...,...,...,...
571,2023-06-18 01:00,2023-06-17 19:00,38.36,43.8,181.02
572,2023-06-18 02:00,2023-06-17 20:00,42.32,34.57,180.99
573,2023-06-18 03:00,2023-06-17 21:00,40.46,47.26,180.98
574,2023-06-18 04:00,2023-06-17 22:00,45.25,48.15,180.99
575,2023-06-18 05:00,2023-06-17 23:00,30.26,34.78,180.99

### Tranformed table for actual prices

In [3]:


import numpy as np
new_df = pd.DataFrame(columns = ['begin_datetime_mpt', 'P0', 'P1', 'P2', 'P3', 'P4', 'P5'])

# Calculate the pool_price list
pool_price_list = actual_df['pool_price'].tolist() + [np.nan]*5  # Append NaNs for P4, P5 in the last rows

for i in range(len(actual_df)):
    new_row = pd.DataFrame({
        'begin_datetime_mpt': actual_df.iloc[i, actual_df.columns.get_loc('begin_datetime_mpt')],
        'P0': [pool_price_list[i]],
        'P1': [pool_price_list[i+1]],
        'P2': [pool_price_list[i+2]],
        'P3': [pool_price_list[i+3]],
        'P4': [pool_price_list[i+4]],
        'P5': [pool_price_list[i+5]]
    })
    
    new_df = pd.concat([new_df, new_row], ignore_index=True)
new_df

    begin_datetime_mpt      P0      P1      P2     P3     P4     P5
0     2023-05-25 00:00  326.84  218.47  138.71  45.00  42.86  43.55
1     2023-05-25 01:00  218.47  138.71   45.00  42.86  43.55  38.03
2     2023-05-25 02:00  138.71   45.00   42.86  43.55  38.03  40.27
3     2023-05-25 03:00   45.00   42.86   43.55  38.03  40.27  44.06
4     2023-05-25 04:00   42.86   43.55   38.03  40.27  44.06  42.62
..                 ...     ...     ...     ...    ...    ...    ...
571   2023-06-17 19:00   38.36   42.32   40.46  45.25  30.26    NaN
572   2023-06-17 20:00   42.32   40.46   45.25  30.26    NaN    NaN
573   2023-06-17 21:00   40.46   45.25   30.26    NaN    NaN    NaN
574   2023-06-17 22:00   45.25   30.26     NaN    NaN    NaN    NaN
575   2023-06-17 23:00   30.26     NaN     NaN    NaN    NaN    NaN

[576 rows x 7 columns]

In [4]:
# Check if there any missing dates in the dataframe

new_df['begin_datetime_mpt'] = pd.to_datetime(new_df['begin_datetime_mpt'])

# Create a complete date range from start to end
start_date = new_df['begin_datetime_mpt'].min()
end_date = new_df['begin_datetime_mpt'].max()
complete_date_range = pd.date_range(start=start_date, end=end_date, freq='H')

# Check if all the dates in the complete range exist in your DataFrame
missing_dates = complete_date_range[~complete_date_range.isin(new_df['begin_datetime_mpt'])]

print(f"Number of missing dates: {len(missing_dates)}")
if len(missing_dates) > 0:
    print("Missing dates are:")
    print(missing_dates)

Number of missing dates: 0

### Tranformed table for predicted prices + actual price for that hour

In [5]:
valid_df = actual_df[['begin_datetime_mpt','pool_price']]
valid_df.set_index('begin_datetime_mpt', inplace=True)
valid_df.index = pd.to_datetime(valid_df.index)
merged_df = pd.merge(df, valid_df, left_index=True, right_index=True, how='left')
merged_df = merged_df.reset_index()
merged_df

,current_alberta_time,T0,T1,T2,T3,T4,T5,pool_price
0,2023-05-25 15:00:00,880.08,118.46,98.28,54.02,45.82,42.54,803.54
1,2023-05-25 16:00:00,118.46,85.14,45.64,42.59,35.97,36.2,711.78
2,2023-05-25 17:00:00,85.14,49.54,43.95,42.06,41.79,42.41,272.36
3,2023-05-25 18:00:00,49.54,761.69,66.02,60.0,99.29,68.64,282.24
4,2023-05-25 19:00:00,761.69,129.6,134.79,731.3,489.25,72.55,477.94
...,...,...,...,...,...,...,...,...
478,2023-06-14 16:00:00,44.28,31.84,25.49,18.98,8.54,0.01,34.76
479,2023-06-14 17:00:00,31.84,23.73,18.98,5.7,0.0,0.0,31.38
480,2023-06-14 18:00:00,23.73,20.25,20.48,17.21,15.38,0.01,27.50
481,2023-06-14 19:00:00,20.25,31.27,29.63,31.98,22.23,3.17,26.02
482,2023-06-14 20:00:00,31.27,33.38,33.41,30.28,26.16,21.36,38.56

## Check for any missing dates

In [6]:
# create a complete date range from start to end
start_date = merged_df['current_alberta_time'].min()
end_date = merged_df['current_alberta_time'].max()
complete_date_range = pd.date_range(start=start_date, end=end_date, freq='H')

# create a new DataFrame with complete date range
df_full = pd.DataFrame(complete_date_range, columns=['current_alberta_time'])
df_full.set_index('current_alberta_time', inplace=True)

# set datetime as index in the original DataFrame
merged_df.set_index('current_alberta_time', inplace=True)

# reindex the original DataFrame with the full DataFrame index
merged_df = merged_df.reindex(df_full.index)

# fill missing values with the mean of each column
merged_df.fillna(df.mean(), inplace=True)
merged_df[['T0', 'T1','T2', 'T3','T4', 'T5', 'pool_price']] = merged_df[['T0', 'T1','T2', 'T3','T4', 'T5', 'pool_price']].apply(pd.to_numeric, errors='coerce')

# Fill NaN values with the mean of each column
merged_df = merged_df.fillna(merged_df.mean())
merged_df = merged_df.reset_index()

# reset index

C:\Users\sneha\AppData\Local\Temp\ipykernel_22912\173182938.py:17: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  merged_df.fillna(df.mean(), inplace=True)

In [7]:
merged_df['current_alberta_time'] = pd.to_datetime(merged_df['current_alberta_time'])

# Create a complete date range from start to end
start_date = merged_df['current_alberta_time'].min()
end_date = merged_df['current_alberta_time'].max()
complete_date_range = pd.date_range(start=start_date, end=end_date, freq='H')

# Check if all the dates in the complete range exist in your DataFrame
missing_dates = complete_date_range[~complete_date_range.isin(merged_df['current_alberta_time'])]

print(f"Number of missing dates: {len(missing_dates)}")
if len(missing_dates) > 0:
    print("Missing dates are:")
    print(missing_dates)

Number of missing dates: 0

In [8]:
actual_df = new_df.loc[new_df['begin_datetime_mpt'] > '2023-05-25 15:00:00']  # actual pool prices by AESO 
pred_df = merged_df.loc[merged_df['current_alberta_time'] > '2023-05-25 15:00:00']  # predicted pool prices by AESO 

actual_df = actual_df.loc[actual_df['begin_datetime_mpt'] < '2023-06-14 20:00:00']  # actual pool prices by AESO 
pred_df = pred_df.loc[pred_df['current_alberta_time'] < '2023-06-14 20:00:00']  # predicted pool prices by AESO 
actual_df

     begin_datetime_mpt      P0      P1      P2      P3      P4      P5
16  2023-05-25 16:00:00  711.78  272.36  282.24  477.94  574.62  511.61
17  2023-05-25 17:00:00  272.36  282.24  477.94  574.62  511.61  643.75
18  2023-05-25 18:00:00  282.24  477.94  574.62  511.61  643.75  226.84
19  2023-05-25 19:00:00  477.94  574.62  511.61  643.75  226.84   87.53
20  2023-05-25 20:00:00  574.62  511.61  643.75  226.84   87.53   86.98
..                  ...     ...     ...     ...     ...     ...     ...
495 2023-06-14 15:00:00   37.92   34.76   31.38   27.50   26.02   38.56
496 2023-06-14 16:00:00   34.76   31.38   27.50   26.02   38.56   40.59
497 2023-06-14 17:00:00   31.38   27.50   26.02   38.56   40.59   29.27
498 2023-06-14 18:00:00   27.50   26.02   38.56   40.59   29.27   21.29
499 2023-06-14 19:00:00   26.02   38.56   40.59   29.27   21.29   18.47

[484 rows x 7 columns]

In [9]:
pred_df

,current_alberta_time,T0,T1,T2,T3,T4,T5,pool_price
1,2023-05-25 16:00:00,118.46,85.14,45.64,42.59,35.97,36.20,711.78
2,2023-05-25 17:00:00,85.14,49.54,43.95,42.06,41.79,42.41,272.36
3,2023-05-25 18:00:00,49.54,761.69,66.02,60.00,99.29,68.64,282.24
4,2023-05-25 19:00:00,761.69,129.60,134.79,731.30,489.25,72.55,477.94
5,2023-05-25 20:00:00,129.60,311.76,796.82,746.38,87.38,60.68,574.62
...,...,...,...,...,...,...,...,...
480,2023-06-14 15:00:00,32.38,44.28,43.94,33.01,29.92,26.46,37.92
481,2023-06-14 16:00:00,44.28,31.84,25.49,18.98,8.54,0.01,34.76
482,2023-06-14 17:00:00,31.84,23.73,18.98,5.70,0.00,0.00,31.38
483,2023-06-14 18:00:00,23.73,20.25,20.48,17.21,15.38,0.01,27.50
484,2023-06-14 19:00:00,20.25,31.27,29.63,31.98,22.23,3.17,26.02

## Average of RMSEs of each fold

In [10]:

from sklearn.metrics import mean_squared_error

# actual_df = new_df.loc[new_df['begin_datetime_mpt'] < '2023-06-01 00:00:00']
# pred_df = merged_df.loc[merged_df['current_alberta_time'] < '2023-06-01 00:00:00']

rmse_values = []

for i in range(len(pred_df)):
    row_df1 = actual_df.iloc[i][['P0', 'P1','P2', 'P3','P4', 'P5']]
    row_df2 = pred_df.iloc[i][['T0', 'T1','T2', 'T3','T4', 'T5']]
    rmse = mean_squared_error(row_df1, row_df2, squared=False)
    rmse_values.append(rmse)

# Create new dataframe with begin_datetime_mpt and RMSE
df_rmse = pd.DataFrame({
    'begin_datetime_mpt': actual_df['begin_datetime_mpt'],
    'rmse': rmse_values
})

df_rmse

     begin_datetime_mpt        rmse
16  2023-05-25 16:00:00  437.559067
17  2023-05-25 17:00:00  436.560175
18  2023-05-25 18:00:00  391.312500
19  2023-05-25 19:00:00  287.894247
20  2023-05-25 20:00:00  297.776978
..                  ...         ...
495 2023-06-14 15:00:00    8.860546
496 2023-06-14 16:00:00   21.183250
497 2023-06-14 17:00:00   24.657814
498 2023-06-14 18:00:00   16.159554
499 2023-06-14 19:00:00    8.649434

[484 rows x 2 columns]

The above table shows the RMSE for the 6 hour predictions made at `begin_datetime_mpt - 1 hour`. 
The average RMSE calculated using the predictions and the actual values of pool prices every 6 hours are calculated below -

In [11]:
avg_rmse = df_rmse.mean()
avg_rmse

C:\Users\sneha\AppData\Local\Temp\ipykernel_22912\1947815268.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  avg_rmse = df_rmse.mean()

rmse    164.601512
dtype: float64

## 1 step, 2 step RMSE for dates 2023-05-25 15:00:00 to 2023-05-31 23:00:00

In [12]:
# merged_df = merged_df.loc[merged_df['current_alberta_time'] < '2023-05-31 00:00:00'] 
# merged_df

In [13]:
dataframes = []
for lag in range(6):
    df = merged_df.copy()
    df.iloc[:, lag:lag+1] = df.iloc[:, lag:lag+1].shift(lag)
    col_name= f'T{lag}'
    df = df[[col_name, 'pool_price']]
    dataframes.append(df)

df_1_lag = dataframes[0]  # DataFrame with 0 lag
df_2_lag = dataframes[1]  # DataFrame with 1 lag
df_3_lag = dataframes[2]  # DataFrame with 2 lag
df_4_lag = dataframes[3]  # DataFrame with 3 lag
df_5_lag = dataframes[4]  # DataFrame with 4 lag
df_6_lag = dataframes[5]  # DataFrame with 5 lag

C:\Users\sneha\AppData\Local\Temp\ipykernel_22912\2108201909.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:, lag:lag+1] = df.iloc[:, lag:lag+1].shift(lag)

In [14]:
df_1_lag

         T0  pool_price
0    880.08      803.54
1    118.46      711.78
2     85.14      272.36
3     49.54      282.24
4    761.69      477.94
..      ...         ...
481   44.28       34.76
482   31.84       31.38
483   23.73       27.50
484   20.25       26.02
485   31.27       38.56

[486 rows x 2 columns]


The average RMSE calculated using the predictions and the actual values of pool prices every 6 hours for 1 step, 2 step, are calculated below -

In [15]:
import pandas as pd
from sklearn.metrics import mean_squared_error
from math import sqrt

# Assuming df_0_lag, df_1_lag, ..., df_5_lag are the DataFrames in the list
dataframes = [df_1_lag, df_2_lag, df_3_lag, df_4_lag, df_5_lag, df_6_lag]
rmse_list = []

for i, df in enumerate(dataframes):
    predicted_col = f'T{i}'
    actual_col = 'pool_price'
    
    # Remove rows with missing values
    df_cleaned = df.dropna(subset=[predicted_col, actual_col])
    
    # Calculate RMSE
    rmse = mean_squared_error(df_cleaned[actual_col], df_cleaned[predicted_col], squared=False)
    
    # Print RMSE
    print(f"RMSE for {i + 1} step forecast is {rmse:.2f}")
    rmse_list.append(rmse)

RMSE for 1 step forecast is 130.01
RMSE for 2 step forecast is 161.85
RMSE for 3 step forecast is 238.09
RMSE for 4 step forecast is 275.79
RMSE for 5 step forecast is 325.44
RMSE for 6 step forecast is 365.61

In [16]:
# Average RMSE:
avg_rmse = sum(rmse_list) / len(rmse_list)
print(f"Average RMSE is {avg_rmse:.2f}")

Average RMSE is 249.46

In [17]:
merged_df

,current_alberta_time,T0,T1,T2,T3,T4,T5,pool_price
0,2023-05-25 15:00:00,880.08,118.46,98.28,54.02,45.82,42.54,803.54
1,2023-05-25 16:00:00,118.46,85.14,45.64,42.59,35.97,36.20,711.78
2,2023-05-25 17:00:00,85.14,49.54,43.95,42.06,41.79,42.41,272.36
3,2023-05-25 18:00:00,49.54,761.69,66.02,60.00,99.29,68.64,282.24
4,2023-05-25 19:00:00,761.69,129.60,134.79,731.30,489.25,72.55,477.94
...,...,...,...,...,...,...,...,...
481,2023-06-14 16:00:00,44.28,31.84,25.49,18.98,8.54,0.01,34.76
482,2023-06-14 17:00:00,31.84,23.73,18.98,5.70,0.00,0.00,31.38
483,2023-06-14 18:00:00,23.73,20.25,20.48,17.21,15.38,0.01,27.50
484,2023-06-14 19:00:00,20.25,31.27,29.63,31.98,22.23,3.17,26.02
485,2023-06-14 20:00:00,31.27,33.38,33.41,30.28,26.16,21.36,38.56

### Fold errors using second approach

In [18]:
import pandas as pd
import numpy as np

merged_df = merged_df.set_index('current_alberta_time')

# Calculate differences for each column
def calculate_differences(row, df, j):
    diffs = []

    for i in range(len(row)-1):
        diff = float(row[i]) - float(merged_df.iloc[j, merged_df.columns.get_loc('pool_price')])
        j = j + 1
        diffs.append(diff)

    return diffs

# Calculate RMSE for a list of differences
def calculate_rmse(diffs):
    rmse = np.sqrt(np.mean(np.square(diffs)))
    return rmse

# Calculate RMSE for each row in the DataFrame
def calculate_rmse_for_each_row(df):
    rmse_list = []
    for i in range(115):
        row = df.iloc[i]
        diffs = calculate_differences(row, df, i)
        rmse = calculate_rmse(diffs)
        rmse_list.append(rmse)
    return rmse_list

rmse_values = calculate_rmse_for_each_row(merged_df)

print(rmse_values)

[389.46801956857337, 437.55906723169005, 436.5601753290528, 391.31250005590164, 287.89424745323873, 297.7769780389343, 238.49685644329432, 73.34540021932756, 69.44068896067589, 47.921012266715174, 141.71296135733905, 102.6023100779575, 205.49602356250108, 403.39087816079007, 552.0806937546963, 651.3449210543774, 701.4370877111265, 639.0729070171362, 209.3608992465722, 25.401514718614713, 156.5629061006044, 203.76846247640972, 200.86604275818584, 316.03789142548504, 416.84122330930757, 512.201149110386, 507.71872022475856, 445.66155200256316, 374.49529774528986, 362.4440324151211, 176.03538328036973, 175.80843253382358, 6.097522721018212, 10.962204005886164, 9.817998777755065, 6.952881896499224, 4.342647042223594, 2.121595311709248, 177.77747841988688, 150.40302130165693, 113.25625310183392, 101.99443391675841, 147.54176990488713, 18.69624561242176, 19.84720761215542, 19.478807715052792, 18.673823032969622, 38.73680269889777, 46.549397776269174, 48.21337141637508, 46.90721888295376, 47.358739073867525, 80.48513496292342, 65.79578063979484, 17.21046726074958, 3.5331926072604642, 2.7830289254695146, 1.0070915218257648, 0.9265887257390237, 4.037315527261482, 7.104736682899184, 8.5501120850353, 18.020172955144837, 10.738980398529463, 5.3873803157626305, 7.749228993906426, 122.94806999976319, 173.5995646595924, 181.2020735256636, 212.53519065478702, 243.17181233988998, 354.12829191316155, 332.62419324717393, 204.14483461503502, 91.06933484988235, 202.78595180633198, 150.87547729833364, 15.447422115032657, 8.745842821973572, 7.974698531397072, 15.853057538952328, 17.804156349946304, 3.399598015452217, 2.3561515231410732, 7.748822491191803, 340.1383132148842, 443.5258378418706, 413.3287055722117, 50.05668037335277, 70.17477763888296, 75.00328837235516, 141.5971323862175, 169.07361291264033, 327.09589659099464, 184.8554230563262, 183.240498571322, 125.37147389524726, 28.091127899510667, 21.77216686505962, 20.73875036415325, 15.488169678822608, 18.528367889986065, 8.224709721321478, 15.115700446886343, 10.743803640548661, 3.7459578214389966, 4.477056324565655, 5.782515311984339, 2.7348095607068026, 2.979549742270913, 4.9601848083850015, 72.52473778960541, 71.81392063765661, 101.69898955335427, 101.7517244507052]

In [19]:
sum(rmse_values) / len(rmse_values)

146.1062895188189